@{
    ViewData["Title"] = "Product List";
}

<div class="container-fluid">
    <h1 class="display-5">Product Manager</h1>
</div>

<div class="container-fluid">
    <table class="table table-bordered table-striped table-responsive border border-secondary">
        <thead>
            <tr>
                <th class="fw-semibold">Code</th>
                <th class="fw-semibold">Name</th>
                <th class="fw-semibold">Price</th>
                <th class="fw-semibold">Release Date</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.ProductCode</td>
                    <td>@product.Name</td>
                    <td>@product.YearlyPrice.ToString("C")</td>
                    <td>@product.ReleaseDate.ToString("MM/dd/yyyy")</td>
                    <td style="width: 1%">
                        <a asp-action="EditProduct" asp-route-id="@product.ProductId" asp-route-slug="@product.Slug" class="btn btn-outline-primary btn-dark" asp-controller="Products">Edit</a>
                    </td>
                    <td style="width: 1%">
                        <a asp-action="DeleteProduct" asp-route-id="@product.ProductId" asp-route-slug="@product.Slug" class="btn btn-outline-danger btn-dark" asp-controller="Products">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div style="margin-left: 1%">
    <a asp-controller="Products" asp-action="AddProduct" class="btn btn-outline-secondary btn-dark">Add New Product</a>
</div>

