@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> signInManager
@using SportsPro.Models
@{
    var currentUser = await signInManager.UserManager.GetUserAsync(User);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SportsPro</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SportsPro.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-black border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SportsPro</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link @(Nav.Active(ViewContext?.RouteData.Values["Action"]?.ToString(), "Index"))" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(Nav.Active(ViewContext?.RouteData.Values["Action"]?.ToString(), "Privacy"))" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link @(Nav.Active(ViewContext?.RouteData.Values["Action"]?.ToString(), "ProductList"))" asp-area="" asp-controller="Products" asp-action="ProductList">Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(Nav.Active(ViewContext?.RouteData.Values["Action"]?.ToString(), "TechnicianList"))" asp-area="" asp-controller="Technicians" asp-action="TechnicianList">Technicians</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(Nav.Active(ViewContext?.RouteData.Values["Action"]?.ToString(), "CustomerList"))" asp-area="" asp-controller="Customers" asp-action="CustomerList">Customers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(Nav.Active(ViewContext?.RouteData.Values["Action"]?.ToString(), "IncidentList"))" asp-area="" asp-controller="Incidents" asp-action="IncidentList">Incidents</a>
                            </li>
                        }
                        @if (!User.Identity.IsAuthenticated || currentUser == null)
                        {
                            <li class="nav-item">
                                <a class="nav-link @(Nav.Active(ViewContext?.RouteData.Values["Action"]?.ToString(), "Register"))" asp-area="" asp-controller="Registration" asp-action="Register">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(Nav.Active(ViewContext?.RouteData.Values["Action"]?.ToString(), "Login"))" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav justify-content-end">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item active">
                                <span class="nav-link text-white">Welcome, @currentUser.UserName!</span>
                            </li>
                            <li class="nav-item">
                                <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="form-inline">
                                    <button type="submit" class="nav-link btn btn-link text-white">Log out</button>
                                </form>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @if (TempData.Keys.Contains("message"))
            {
                <h4 class="bg-info text-center text-white p-2">@TempData["message"]</h4>
            }
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - SportsPro - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
